/*1 - container con titoli*/
.sectionTitle {
    /* spazio tra le righe e tra le colonne */
    gap: 8px;
    /*larghezza*/
    width: 100%;
    /*contenitore flessibile*/
    display: flex;
    /*impila gli elementi flessibili verticalmente (dall'alto verso il basso)*/
    flex-direction: column;
    /*specifica che gli elementi flessibili verranno spostati se necessario*/
    flex-wrap: wrap;
    /*allinea gli elementi flessibili all'inizio del contenitore (impostazione predefinita)*/
    justify-content: flex-start;
    /*allinea gli elementi flessibili nella parte superiore del contenitore:*/
    align-items: flex-start;
}

/*intestazione HTML*/
h1 {
    display: block;
    font-size: 64px;
    font-weight: 600;
    text-align:left;
}
/*intestazione HTML*/
h2 {
    display: block;
    color: #4F4F4F;
    font-size: 28px;
    font-weight: 600;
    text-align:left;
}

/*----------------------------------------------------- form ---------------------------------------------------------*/
form {
    gap: 32px;
    width: 100%;
    /*L'overflow viene ritagliato e il resto del contenuto sarà invisibile*/
    overflow: hidden;
    /*Posiziona l'elemento relativamente alla posizione che assumerebbe normalmente
    il normal flow.*/
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*1 - container per riga*/
.container {
    gap: 16px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    flex-direction: row;
}

/*2 - container label+input 50%*/
.inputForm {
    gap: 8px;
    width: 50%;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

/*input type text,email,tel FORM*/
input[type=text],
input[type=email],
input[type=tel]{
    /*cursore del mouse*/
    cursor: auto;
    padding: 8px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
    align-self: stretch;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    border-color: #2F2F2F;
}

/*select FORM*/
select {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
}
/*assegna uno stile a un campo di input quando è attivo*/
select:focus {
    border-color: #2F2F2F;
}

/*3 - container label+input (larghezza 100%) per textarea e input type file*/
.inputForm100 {
    gap: 8px;
    width: 100%;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    flex-direction: column;
}

/*area di testo FORM*/
textarea {
    cursor: auto;
    width: 100%;
    height: 200px;
    padding: 8px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
    /*ridimensiona l'altezza*/
    resize: vertical;
}
textarea:focus {
    border-color: #2F2F2F;
}

/*input type file FORM*/
input[type=file] {
    cursor: auto;
    width: 100%;
    padding: 8px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
}
input[type=file]:focus {
    border-color: #2F2F2F;
}

/*container text+check*/
.checkContainer {
    gap: 16px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    padding-top: 16px;
    flex-direction: column;
}

/*testo in grassetto*/
.bold {
    font-weight: 600;
}

/* link con sottolineatura*/
a.linkPrivacy{
    text-decoration: underline;
    color:black;
}
/*un collegamento che l'utente ha visitato*/
a.linkPrivacy:visited {
    text-decoration: underline;
    color: blue;
}
/* un collegamento nel momento in cui viene cliccato*/
a.linkPrivacy:active {
    text-decoration: underline;
    color: blue;
}

/*container checkbox+text*/
.containerCheckbox {
    gap: 16px;
    display: flex;
    align-self: flex-start;
    align-items: center;
}

/*input type checkbox FORM*/
input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
}

/*input type buttons FORM*/
input[type=submit] {
    color: white;
    background-color: #007FFF;
    padding: 8px 16px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
}
/*Seleziona e assegna uno stile a un
collegamento quando ci passi sopra con il mouse*/
input[type=submit]:hover {
    background-color: #08457E;
}

#successMessage {
    display:none;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

/*------------ Per eventuali adattamenti (responsive web design) -------------*/
@media(max-width: 1200px) {
}

@media(max-width: 991px) {
}

@media(max-width: 767px) {
    .container {
        gap: 32px;
        flex-direction: column;
    }
    .inputForm{
        width: 100%;
    }
}

@media(max-width: 479px) {
    input[type=submit] {
        width: 100%;
    }
    textarea {
        height: 144px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 21px;
    }
}