.sectionTitle {
    gap: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    display: block;
    font-size: 64px;
    font-weight: 600;
    text-align:left;
}

/* Stili di base per i ticket e gli elementi */

/*1 - container principale per filtro + ticket*/
.ticket-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    position: relative;

}
/*2 - container per filtro*/
.containerFiltro{
    gap: 8px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
}

.image {
    width: 32px;
    height: 32px;
}

/*Proprietà ticket: stile della fisarmonica:*/

.ticketHeader {
    cursor: pointer;
    transition: 0.3s;
    background-color: #E1E1E1;
    border: none;
    padding: 16px;
    width: 100%;
    outline: none;

    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.active, .ticketHeader:hover {
    background-color: #D2D2D2;
}
/* Aggiungere un simbolo a ciascun pulsante per indicare
se il contenuto comprimibile è aperto o chiuso */

.ticketHeader:after {
    content: "+";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 16px;

}

.active:after {
    content: "-";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 16px;
}

h4{
    color: #2F2F2F;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}

h3{
    color: #2F2F2F;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}


/*

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.status.da-visionare {
    background-color: red;
}

.status.in-corso {
    background-color: yellow;
    color: black;
}

.status.chiuso {
    background-color: green;
}
*/

.ticketBody {
    background-color: white;
    border: 2px solid #D2D2D2;
    border-top: none;
    display: none;
    padding: 16px;
    overflow: hidden;
}

.containerDati{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.colonna {
    gap: 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-right: 24px;
}

.strongTitle{
    color: black;
}

.elencoDati {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    cursor: auto;
    width: 100%;
    height: 200px;
    padding: 8px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
    resize: vertical;
    margin-bottom: 16px;
    margin-top: 32px;
}
textarea:focus {
    border-color: #2F2F2F;
}

input[type=submit] {
    color: white;
    background-color: #007FFF;
    padding: 8px 16px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
    float: right;
}
input[type=submit]:hover {
    background-color: #08457E;
}

/*container per history*/
.containerHistory{
    gap: 8px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 64px;
}